.btn__bubble--top {
    border: none;
    padding: 15px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
}

.btn__bubble--top::before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    border-style: solid;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    left: calc(50% - 10px);
    top: 0;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #e1e1e1 transparent;
}

.btn__bubble--top:hover::before, .btn__bubble--top:hover::after {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.btn__bubble--right {
    border: none;
    padding: 15px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
}

.btn__bubble--right::before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    border-style: solid;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    top: calc(50% - 10px);
    right: 0;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #e1e1e1;
}

.btn__bubble--right:hover::before, .btn__bubble--right:hover::after {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
}

.btn__bubble--bottom {
    border: none;
    padding: 15px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
}

.btn__bubble--bottom::before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    border-style: solid;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    left: calc(50% - 10px);
    bottom: 0;
    border-width: 10px 10px 0 10px;
    border-color: #e1e1e1 transparent transparent transparent;
}

.btn__bubble--bottom:hover::before, .btn__bubble--bottom:hover::after {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

.btn__bubble--left {
    border: none;
    padding: 15px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
}

.btn__bubble--left::before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    border-style: solid;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    top: calc(50% - 10px);
    left: 0;
    border-width: 10px 10px 10px 0;
    border-color: transparent #e1e1e1 transparent transparent;
}

.btn__bubble--left:hover::before, .btn__bubble--left:hover::after {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
}

.btn__bubble--float_top {
    border: none;
    padding: 15px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.btn__bubble--float_top::before {
    position: absolute;
    z-index: -1;
    content: '';
    left: calc(50% - 10px);
    top: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #e1e1e1 transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.btn__bubble--float_top:hover::before {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.btn__bubble--float_right {
    border: none;
    padding: 15px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.btn__bubble--float_right::before {
    position: absolute;
    z-index: -1;
    top: calc(50% - 10px);
    right: 0;
    content: '';
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #e1e1e1;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.btn__bubble--float_right:hover, .btn__bubble--float_right:focus, .btn__bubble--float_right:active {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
}

.btn__bubble--float_right:hover:before, .btn__bubble--float_right:focus:before, .btn__bubble--float_right:active:before {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
}

.btn__bubble--float_bottom {
    border: none;
    padding: 15px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.btn__bubble--float_bottom::before {
    position: absolute;
    z-index: -1;
    content: '';
    left: calc(50% - 10px);
    bottom: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #e1e1e1 transparent transparent transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.btn__bubble--float_bottom:hover, .btn__bubble--float_bottom:focus, .btn__bubble--float_bottom:active {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.btn__bubble--float_bottom:hover:before, .btn__bubble--float_bottom:focus:before, .btn__bubble--float_bottom:active:before {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

.btn__bubble--float_left {
    border: none;
    padding: 15px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.btn__bubble--float_left::before {
    position: absolute;
    z-index: -1;
    content: '';
    top: calc(50% - 10px);
    left: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #e1e1e1 transparent transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.btn__bubble--float_left:hover, .btn__bubble--float_left:focus, .btn__bubble--float_left:active {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
}

.btn__bubble--float_left:hover:before, .btn__bubble--float_left:focus:before, .btn__bubble--float_left:active:before {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
}