* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
}

.button-example {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
}

.button-work {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
}

.btn-transition {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
}

.btn__box--transition {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
}

button {
    background-color: #e1e1e1;
}

.border-transition {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
}

.border__transition--second {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
}

.shadow__and--grow_transitions {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
}

.bubble-box {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
}

.curls__box {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
}